body {
    display: flex;
    justify-content: center;
}

caption {
    background-color: #e1f8fa;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 1;    
}

thead {
    background: rgb(255, 255, 255);
}

th, td {
    border: 1px solid rgb(0, 0, 0);
}

tr {
    height: 15px;
}

tbody tr:nth-child(even){
    background: rgb(184, 184, 184);
}

.area {
    text-align: left;
    width: 150px;
}

.footer{
    background: rgb(184, 184, 183);
}
